.jqpageflow-loader {
	position: absolute;
	display: none;
	right: 1%;
	top:5%;
	z-index: 99999;
	bottom: 0;
}

.jqpageflow-loadertext {
	font-size: 70%;
	width: 116px;
	text-align: right;
	bottom: 216px;
	left: -134px;
}

